@model IEnumerable<GigerEx.Models.Gig>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Band";
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-progressbar.js"></script>
<script type="text/javascript" src="~/Content/jquery-progressbar.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        if ($("#mybutton").hidden) {
            $("img#bey").click(function () {
                $("#mybutton").slideDown('slow');
            });
        }
        else {
            $("img#bey").click(function () {
                $("#mybutton").slideToggle();
            });
        }
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        if ($("#genreb").hidden) {
            $("#genrel").click(function () {
                $("#genreb").slideDown('slow');
            });
        }
        else {
            $("#genrel").click(function () {
                $("#genreb").slideToggle();
            });
        }
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#genrediv").hidden) {
            $("#genreb").click(function () {
                $("#genrediv").slideDown('slow');
                $("#genreb").text("Save");
            });
        }
        else {
            $("#genreb").click(function () {
                $("#genrediv").slideToggle();
            });
        }
    });
</script>

<h2 style="font-family:'Microsoft NeoGothic'">Koniki Polne</h2>

<body>

    <p>
        <img id="bey" src="http://majoringinmusic.com/wp-content/uploads/2015/05/Playing-music-on-cruise-ships-drums.jpeg" alt="beyonce" class="img-responsive" style="max-height:300px; border:ridge">
        <button id="mybutton" style="align-self:center;display:none" class="btn btn-secondary btn-sm">Edit Photo</button>
        <input class="form-control" type="text" id="photoinput" style="display:none">

    </p>

    <label>Genre</label>
    <label id="genrel" style="font-family:'Microsoft NeoGothic'">Metal, Rock, Falk</label>
    <label><img id="fire" src="~/Content/images/ff.png" style="width:20px" />8123</label>
    <br /><button id="genreb" style="align-self:center;display:none;" class="btn btn-secondary btn-sm">Edit Genre</button><br />

    <div id="genrediv" class="form-check" style="font-family:'Microsoft MHei'; font-size:small; display:none">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Rock
        </label>
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Folk
        </label>
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Metal
        </label>
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Country
        </label>
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Pop
        </label>
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Indie
        </label>
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Reggae
        </label>
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Punk
        </label>
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Opera
        </label>
    </div>

    <label style="font-family:'Microsoft NeoGothic'">
        Hi! We're Tomek and Adam. We were the black horse of last APDK festival. See ya at the stage!
    </label>

    <br />
    <br />
    <br />
    <label style="font-family:'Microsoft NeoGothic';font-size:medium">Nearest shows</label>
    <table class="table table-striped">
        @foreach (var item in Model.OrderBy(x => x.Date).Take(3))
        {
            <tr>
                <td class="col-md-6 col-lg-6 col-sm-6 col-xs-6" onclick="location.href = '@(Url.Action("Create", new { id=item.ID }))'">
                    <div style="font-family:'Microsoft NeoGothic'; font-size:large">@Html.DisplayFor(modelItem => item.Band)</div><br /><br />
                    <div style="font-size:small">
                        @Html.DisplayFor(modelItem => item.City)<br />
                        @Html.DisplayFor(modelItem => item.Place)
                    </div>

                </td>
                <td class="col-md-1 col-lg-1 col-sm-2 col-xs-5" onclick="location.href = '@(Url.Action("Details", new { id=item.ID }))'">
                    @Html.DisplayFor(modelItem => item.Date)
                    <br /><br /><br />Details<br />
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
            <tr style="height:15px;" />

        }

    </table>

</body>


